**/__pycache__/
/apps/files/**
/apps/files/log/*
/apps/files/logs/*
/apps/files/submissions/*
/apps/files/models/pyannote/**
/apps/sdz/test/**
/apps/files/models/whisper/**
/apps/langid/test/**
/apps/stt/test/**

!/apps/files/models/pyannote/.gitkeep
!/apps/files/models/whisper/.gitkeep